*{
    margin: 0;
    padding: 0;
    font-family: Georgia;
}

#banner {
    background-image: url("../home/home-banner.jpg");
    width: 100%;
    height: 200px;
}

.banneroverlay {
    height: 200px;
    position: relative;
    left: 40%;
}

header {
    width: 100%
}

nav {
    line-height: 120px;
    background-color: white;
    height: 120px;
}

ul li {
    line-height: 100px;
    display: inline-block;
    list-style: none;
    text-decoration: none;
    color: black;
    position: relative;
    left: 60%;
 }

ul li a{
    list-style: none;
    text-decoration: none;
    color: black;
}

ul li:hover a{
    list-style: none;
    text-decoration: none;
    color: black;
}

#logo {
    margin-left: 15%;
    margin-top: 10px;
    line-height: 100px;
    float: left;
    display: inline-block;
    width: 100px;
    height: 100px;
}

.outline {
    border-bottom: solid;
    border-color: grey;
    border-width: 1px;
    border-spacing: 5px;
}

aside {
    margin-top: 320px;
    position: absolute;
    top: 0;
    right: 0;
    width: 400px;
}

#asideimg {
    position: relative;
    right: 169px;
}

#thirdslide {
    position: relative;
    right: 95px;
}

.job1 {
    background-image: url("../jobs/jobs-banner.jpg");
}

.job2 {
    background-image: url("../jobs/jobs-banner2.jpg");
}
.job3 {
    background-image: url("../jobs/jobs-banner3.jpg");
}

html body main section h2 {
    margin-top: 20px;
}

html body main section h3 {
    margin-top: 10px;
}

#aside {
    margin-top: 320px;
    position: absolute;
    top: 0;
    right: 0;
    width: 400px;
}

.active {
    color: dodgerblue;
}

#bannerc {
    background-image: url("../contact/contact-banner.jpg");
}

.p {
    margin: 0;
    display: inline;
}

#google {
    position: relative;
    left: 0;
    height: 300px;
}

.div {
    width: 493px;
}

.sec {
    margin-bottom: 15px;
}

footer {
    width: 100;
    position: fixed;
    bottom: 0;
}